name: MERN CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v3

     
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2


      - name: Build backend
        run: docker compose -f docker-compose.yaml build backend

   
      - name: Build frontend
        run: docker compose -f docker-compose.yaml build frontend

   
      - name: Run backend tests
        run: docker compose -f docker-compose.yaml run --rm backend npm test

      # - name: Run frontend tests
      #   run: docker compose -f docker-compose.yaml run --rm frontend npm test

   
      - name: Setup SSH Key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > console.pem
          chmod 400 console.pem

   
      - name: Deploy to EC2
        run: |
         ssh -o StrictHostKeyChecking=no \
         -o ServerAliveInterval=60 \
         -o ServerAliveCountMax=5 \
         -i console.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'

            cd /home/ec2-user/Halvon
            git pull origin main
            docker-compose up -d --build
         EOF
